!!!
%html
  %head
    %title
      Pony Pops
    = stylesheet_link_tag "normalize","bootstrap","royalslider","rs-default","style"
    = javascript_include_tag "jquery","bootstrap", "scripts","jquery.royalslider"
    %meta{:content => "width=device-width,initial-scale=1, user-scalable=no, maximum-scale=1", :name => "viewport"}
  %body
    = partial "header"
    = yield 
    = partial "footer"